.image {
height: 200px;
width: 200px;
object-fit: cover;
border-radius: 4px;
}

.label {
    max-width: 200px;
    text-align: center;
    margin: 12px 0px;
    font-family: "Montserrat";
  }

.cardButton {
    padding: 6px 16px;
    font-size: 20px;
    margin-left: 6px;
    border: 2px;
    background-color: rgb(177, 255, 188);
    font-family: "Montserrat";
    border-radius: 4px;
    color: limegreen;
    align-items: baseline;
    text-align: center
  
  }
  .cardButton:hover {
    cursor: pointer;
    background-color: #fff;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=100773), auto;
    
   }
  
