@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Catamaran:wght@600&family=Emblema+One&display=swap");

html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
	display: block;
}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
figcaption,
figure,
main {
	display: block;
}
figure {
	margin: 1em 40px;
}
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}
pre {
	font-family: monospace, monospace;
	font-size: 1em;
}
a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}
b,
strong {
	font-weight: inherit;
}
b,
strong {
	font-weight: bolder;
}
code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}
dfn {
	font-style: italic;
}
mark {
	background-color: #ff0;
	color: #000;
}
small {
	font-size: 80%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
audio,
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
img {
	border-style: none;
}
svg:not(:root) {
	overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
button,
input {
	overflow: visible;
}
button,
select {
	text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}
fieldset {
	padding: 0.35em 0.75em 0.625em;
}
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}
progress {
	display: inline-block;
	vertical-align: baseline;
}
textarea {
	overflow: auto;
}
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}
[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
details,
menu {
	display: block;
}
summary {
	display: list-item;
}
canvas {
	display: inline-block;
}
template {
	display: none;
}
[hidden] {
	display: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}
html {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	background-color: #fde9e9;
}

nav {
	top: 0;
	width: 85%;
}

.icons ul {
	color: #1d81cc;
	display: flex;
	flex-direction: column;
	float: right;
	padding-left: 80%;
}

.fab {
	color: #1d81cc;
    padding-right: 90px;
}

.fas {
    display: none;
}

li,
a {
	font-family: "Catamaran", sans-serif;
	color: #042259;
	font-size: 15px;
	line-height: 29px;
	list-style-type: none;
	float: right;
	display: inline;
	padding: 2%;
	text-decoration: none;
}

.outer-wrapper {
	width: 50%;
	margin-left: auto;
	display: flex;
	flex-direction: row-reverse;
	margin-top: 10%;
}


h1 {
	font-size: 104.6px;
	color: #1d81cc;
	font-family: "Emblema One", cursive;
	line-height: 87.3px;
	margin-bottom: 10px;
}

p {
	font-family: "Barlow", sans-serif;
	color: #042259;
	font-size: 30.2px;
	line-height: 37.9px;
	letter-spacing: 0.3px;
}

.image-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 30px;
	position: relative;
}

.image-wrapper > img {
	max-width: 100%;
	height: auto;
    display: flex;
    align-items: center;
    padding-left: 35px;
   
}
.kettle-img {
	margin-top: 100px;
	max-width: 50%;
	height: 30%;
    position: relative;
}

.blog-text {
	font-family: "Barlow", sans-serif;
	font-size: 20px;
	line-height: 29px;
	letter-spacing: 0.2px;
	padding-left: 6%;
}

h2 {
	font-size: 42px;
	text-align: center;
	color: #1d81cc;
	font-family: "Emblema One", cursive;
}

.blog-wrapper {
	display: flex;
	padding-left: 4%;
}

.button {
	font-size: 20px;
	line-height: 29px;
	color: #f0f5ff;
	background-color: #042259;
	font-family: "Emblema One", cursive;
	position: center;
	margin: 0 40px 0 30px;
    padding: 20px;
}

 @media screen and (max-width: 450px ) {


    .inner-wrapper {
        font-size: 5rem;  
          
       }
    
    p {
        font-family: "Barlow", sans-serif;
        color: #042259;
        font-size: 30.2px;
        line-height: 37.9px;
        letter-spacing: 0.3px;
    }
 
    nav {
        display: none;

    }

    .fas {
        display: flex;
        float: right;
        font-size: 40px;
        margin-top: 20px;
    }

    .fab {
        display: none;
    }

	h2 {
		font-size: 45px;
	}
    .image-wrapper {
        display: flex;
        width: 50%;
        text-align: center;
    }
    .image-3 {display: none;} 

    .blog-wrapper {
       display: flex;
       flex-direction: column;
       align-items: center;
       height: 400%;
    }

    .button {
        text-align: center;
    }